.App {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(237, 236, 236);
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#visual{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.content {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjust margin top as needed */
}

.form-container {
  display: flex;
  align-items: center;
}

.input-container {
  margin-right: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error {
  color: #dc3545;
  margin-top: 10px;
}

.generated-image {
  margin-top: 20px;
}